<!DOCTYPE html>
<html ng-app = "app">
<head>
	<title><%=title%></title>
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="/gun.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/ang.js"></script>
	<!-- // <script type="text/javascript" src="javascripts/init.js"></script> -->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<!-- <button ng-click="jankIt()">Jank it</button> -->
<body ng-controller = "MainController">

<%- include partials/navbar.html %>

<!-- <div class="container">
	
<h1><%=title%></h1>
	<p>Hello how is it going!</p>

	<label>Name</label>
	<input type="text" placeholder="Enter your name here" ng-model="userInputGun">
	<button class="btn btn-default" ng-click="sendData()">Submit!</button>
	<div>
		<h2>Peoples names</h3>
		<h3 ng-repeat="name in displayInfo"> Name: {{name}}</h4>
	</div> -->
	
<!--  <div id="home" class="container">
 	<div class = "col-xs-6 col-xs-offset-3">
	 	<h1>What's yo flight?</h1>
 		<form>
 			<div class="form-group">
 				<label>Departure Date</label>
 				<input type="date" class="form-control" ng-model="userInput.departureDate">
 			</div>
 			<div class="form-group">
 				<label>Return Date</label>
 				<input type="date" class="form-control" ng-model="userInput.returnDate">
 			</div>
 			<div class="for">
 				<label>Origin</label>
 				<input type="text" class="form-control" ng-model="userInput.origin">
 			</div>
 			<div class="form-group">
 				<label>Destination</label>
 				<input type="text" class="form-control" ng-model="userInput.destination">
 			</div>

 			<button type="submit" class="btn btn-primary" ng-click="getFlights()">Submit</button>
 		</form>
 	</div>
 </div>
 -->

 <div id="main" class="container" >
 	<div class="col-xs-4 col-xs-offset-4">
	 	<div class="form-group">
		 	<label>Phone Number: </label>
		 	<input type="text" class="form-control" ng-model="phoneNumber"> </br>
	 		<label>Bank Account Number: </label>
	 		<input type="text" class="form-control" ng-model="accountNum"> </br>
		 	<button class="btn btn-primary btn-lg center-block" ng-click="amICool(accountNum, phoneNumber)">How Cool Am I?</button>
	 	</div>
 	</div>
 </div>

<div class="container" ng-if="accountInfo"> 	
	<div class="list-group">
 	  <a href="#" class="list-group-item">
 	    <h4 class="list-group-item-heading">Account Name</h4>
 	    <p class="list-group-item-text">{{accountInfo.accountnickname}}</p>
 	  </a> 	
 	  <a href="#" class="list-group-item">
 	    <h4 class="list-group-item-heading">Account Balance</h4>
 	    <p class="list-group-item-text">{{accountInfo.accountbalance}}</p>
 	  </a> 	
 	  <a href="#" class="list-group-item">
 	    <h4 class="list-group-item-heading">First Name</h4>
 	    <p class="list-group-item-text">{{accountInfo.first_name}}</p>
 	  </a> 	
 	  <a href="#" class="list-group-item">
 	    <h4 class="list-group-item-heading">Last Name</h4>
 	    <p class="list-group-item-text">{{accountInfo.last_name}}</p>
 	  </a> 	
 	  <a href="#" class="list-group-item">
 	    <h4 class="list-group-item-heading">Address</h4>
 	    <p class="list-group-item-text">{{accountInfo.address.street_number}} {{accountInfo.address.street_name}}</br>{{accountInfo.address.city}}, {{accountInfo.address.state}} {{accountInfo.address.zip}}</p>
 	  </a> 	  
 	  <a href="#" class="list-group-item" ng-if="accountInfo.phone">
 	    <h4 class="list-group-item-heading">Phone Number</h4>
 	    <p class="list-group-item-text">{{accountInfo.phone}}</p>
 	  </a> 	
 	</div>
 </div>

 	 <div id="roundTwo" class="container" ng-if="accountInfo">
 	 	<div class="col-xs-4 col-xs-offset-4">
 		 	<div class="form-group">
 		 		<!-- <label>Account Number: </label> -->
 		 		<!-- <input type="text" class="form-control" ng-model="accountNum"> </br> -->
 			 	<button class="btn btn-danger btn-lg center-block" ng-hide = "showCountries" ng-click="showCountries = true">GTFO</button>
 <!-- 			 	<div class="btn-group center-block" ng-show="showCountries" role="group">
 			 	  <button ng-click="gtfo({'country' : 'India', 'code' : 'DEL'})" type="button" class="btn btn-primary">India</button>
 			 	  <button ng-click="gtfo({'country' : 'China', 'code' : 'PEK'})" type="button" class="btn btn-warning">China</button>
 			 	  <button ng-click="gtfo({'country' : 'Germany', 'code' : 'FRA'})" type="button" class="btn btn-danger">Germany</button>
 			 	</div> -->
 		 	</div>
		 	</div>


 		 	 	  	<div class="col-xs-12" ng-show="showCountries">

 		 	 	  	  <div class="col-sm-6 col-md-4">
 		 	 	  	    <div class="thumbnail">
 		 	 	  	      <img src='images/india.jpg'>
 		 	 	  	      <div class="caption">
 		 	 	  	        <h3>Escape to India</h3>
 		 	 	  	        <p></p>
 		 	 	  	        <p>
 		 		 	  	        <a class="btn btn-success" role="button" ng-click="gtfo({'country' : 'India', 'code' : 'DEL'})">Book Flight and Hotel</a> 
 		 	 	  	        </p>
 		 	 	  	      </div>
 		 	 	  	    </div>
 		 	 	  	  </div>

 	  	   	  	  <div class="col-sm-6 col-md-4">
 	  	   	  	    <div class="thumbnail">
 	  	   	  	      <img src='images/china.jpg'>
 	  	   	  	      <div class="caption">
 	  	   	  	        <h3>Escape to China</h3>
 	  	   	  	        <p></p>
 	  	   	  	        <p>
 	  	  	 	  	        <a class="btn btn-danger" ng-click="gtfo({'country' : 'China', 'code' : 'PEK'})" role="button">Book Flight and Hotel</a> 
 	  	   	  	        </p>
 	  	   	  	      </div>
 	  	   	  	    </div>
 	  	   	  	  </div>

	  	   	  	  <div class="col-sm-6 col-md-4">
	  	   	  	    <div class="thumbnail">
	  	   	  	      <img src='images/germany.jpg'>
	  	   	  	      <div class="caption">
	  	   	  	        <h3>Escape to Germany</h3>
	  	   	  	        <p></p>
	  	   	  	        <p>
	  	  	 	  	        <a class="btn btn-warning" ng-click="gtfo({'country' : 'Germany', 'code' : 'FRA'})" role="button">Book Flight and Hotel</a> 
	  	   	  	        </p>
	  	   	  	      </div>
	  	   	  	    </div>
	  	   	  	  </div>

 		 	 	  	</div>
 	 </div>

</div>




<!-- 
 	 <div class="container" ng-if="flightInfo"> 	
 	 	<div class="list-group">
 	  	  <a href="#" class="list-group-item">
 	  	    <h4 class="list-group-item-heading">Account Name</h4>
 	  	    <p class="list-group-item-text">{{flightInfo}}</p>
 	  	  </a> 	
 	  	</div> -->


	<div class="container">
 	  	<div class="col-xs-6" ng-if="flightInfo" > 	
 	  		<div class="list-group">
 	  	 	  <a href="#" class="list-group-item" ng-repeat="flights in flightInfo.FlightList.Flight.FlightItinerary.FlightLeg[0].FlightSegment">
 	  	 	    <h4 class="list-group-item-heading">Your Out Going Flight</h4>
 	  	 	    <p class="list-group-item-text">Departure from {{flights.DepartureAirportCode}} at {{flights.DepartureDateTime}}</p>
 	  	 	    <p class="list-group-item-text">You will hopefully arrive by {{flights.ArrivalDateTime}} at {{flights.ArrivalAirportCode}}.</p>
 	  	 	    <p class="list-group-item-text">Keep in mind your flight number is {{flights.FlightNumber}}.</p>
 	  	 	  </a> 	
 	  	 	  <a href="#" class="list-group-item" ng-repeat="flights in flightInfo.FlightList.Flight.FlightItinerary.FlightLeg[1].FlightSegment">
 	  	 	    <h4 class="list-group-item-heading">Your Return Flight</h4>
 	  	 	    <p class="list-group-item-text">Departure from {{flights.DepartureAirportCode}} at {{flights.DepartureDateTime}}</p>
 	  	 	    <p class="list-group-item-text">You will hopefully arrive by {{flights.ArrivalDateTime}} at {{flights.ArrivalAirportCode}}.</p>
 	  	 	    <p class="list-group-item-text">Keep in mind your flight number is {{flights.FlightNumber}}.</p>
 	  	 	  </a> 	
 	  	 	</div>
 	  	 </div>

	  	  <div class="col-sm-6" ng-if="flightInfo">
	  	    <div class="thumbnail">
	  	      <img src={{flightInfo.HotelList.Hotel.OverviewThumbnail}}>
	  	      <div class="caption">
	  	        <h3>{{flightInfo.HotelList.Hotel.Name}}</h3>
	  	        <p>{{flightInfo.HotelList.Hotel.Description}}</p>
	  	        <p>Remember, you check in to your {{flightInfo.HotelList.Hotel.RoomRatePlanDescription}} on {{flightInfo.HotelList.Hotel.CheckInDate}} and you check out on {{flightInfo.HotelList.Hotel.CheckOutDate}}.</p>
	  	        <p>
	 	  	        <a class="btn btn-success" role="button" ng-click="">Get Directions</a> 
	  	        </p>
	  	      </div>
	  	    </div>
	  	  </div>
 	</div>


<!--  	 	<div class="form-group">
 		 	<label></label> <input class="disabled form-control"> 
 		 	<label>Account Balance: </label><input class="disabled form-control"> 
 		 	<label>First Name: </label><input class="disabled form-control"> 
 		 	<label>Last Name: </label><input class="disabled form-control"> {{accountInfo.last_name}}
 		 	<label>Address: </label><input class="disabled form-control"> {{accountInfo.address}}
 	 	</div> -->


<!-- <div ng-if="flightInfo">
	<h1>Oh my look at all this data!</h1>

	<table>
		<tr>
			<th>Description</th>
			<th>Price</th>
			<th>Purchance</th>
		</tr>
	</table>
	<p ng-repeat="flight in flightInfo">Total Price: {{flight}}</p>

</div> -->










</body>
</html>