<!DOCTYPE html>
<html ng-app = "app">
<head>
	<title>Ring!</title>
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	var app = angular.module('app', []);
	app.controller('MainController', function ($scope, $http){
		$scope.callFriend = function(){
			$http.get('/./api/callme?number=+1' + $scope.number).success(function(){
				$scope.number = '';
			});
		}
	});
	</script>
</head>
<body ng-controller = "MainController">
<div class="container col-sm-4 col-xs-3"></div>
<div class="container col-sm-4 col-xs-6" style="position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;">
  <input type="text" class="form-control center-block" ng-model="number" placeholder="6232525264" aria-describedby="basic-addon1">
</br>
<button class="btn btn-success center-block" ng-click="callFriend()">Hey oh!</button>


</div>




</body>
</html>